<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85E65F2D1BF1D73800805728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E65F2E1BF1D73800805728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E65F2F1BF1D73800805728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E65F301BF1D73800805728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E65F311BF1D73800805728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E65F331BF1D73800805728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
